<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=28135095d1a69c93a6a26fcbaa4d7d06"></script>
	<!-- Favicon icon-->
	<link rel="apple-touch-icon" sizes="180x180" href="/user/template/FreshCart-1.4.0/assets/images/favicon/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/user/template/FreshCart-1.4.0/assets/images/favicon/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/user/template/FreshCart-1.4.0/assets/images/favicon/favicon-16x16.png" />
	<link rel="manifest" href="/user/template/FreshCart-1.4.0/assets/images/favicon/site.webmanifest" />
	<link rel="shortcut icon" href="/user/template/FreshCart-1.4.0/assets/images/favicon/favicon.ico" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


	<!-- Libs CSS -->
	<link rel="stylesheet" href="/user/template/FreshCart-1.4.0/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" />
	<link rel="stylesheet" href="/user/template/FreshCart-1.4.0/assets/libs/swiper/swiper-bundle.min.css" />
	<link href="/user/template/FreshCart-1.4.0/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet" />
	<!-- Theme CSS -->
	<link rel="stylesheet" href="/user/template/FreshCart-1.4.0/assets/css/theme.min.css">
	<link rel="stylesheet" type="text/css" href="/xdm/template/craft_html_v1.1.6/assets/css/jquery.datetimepicker.css"/>
	<title>Sign Up eCommerce HTML Template - FreshCart Furniture</title>
</head>

<body>
	<!--Signup start-->
	<div class="vh-100"
		style="background: url(/user/template/FreshCart-1.4.0/assets/images/jpg/login-bg.jpg) no-repeat; background-position: center; background-size: cover">
		<div class="h-100 d-flex flex-column justify-content-center">
			<div class="container">
				<!--Signup form-->
				<div class="row">
					<div class="col-xl-5 col-lg-7">
						<div class="card  mx-4 border-0">
							<div class="card-body p-md-6 p-4">
								<div class="mb-5 text-center">
									
								</div>
								<div class="mb-3">
									<h1 class="fs-4 mb-0">회원가입</h1>
								</div>

								<!-- form -->
								<form id="form" class="form w-100" novalidate="novalidate">
									
									<div class="row g-3">
										<!-- col -->
										<div class="col-md-6 col-12">
											<!-- input -->
											<label for="formSignupfname" class="form-label visually-hidden">성
												</label>
											<input type="text" id="userFirstName" name="userFirstName" class="form-control"
												placeholder="성" />
											<div class="invalid-feedback">성을 입력해주세요.</div>
										</div>
										<div class="col-md-6 col-12">
											<!-- input -->
											<label for="formSignuplname" class="form-label visually-hidden">이름
												</label>
											<input type="text" id="userName" name="userName" class="form-control"
												placeholder="이름" />
											<div class="invalid-feedback">이름을 입력해주세요.</div>
										</div>
										<div class="col-12">
											<div class="form-check form-check-inline">
											  <input class="form-check-input" type="radio" name="userGenderMF" id="inlineRadio1" value="1" checked>
											  <label class="form-check-label" for="inlineRadio1">남</label>
											</div>
											
											<div class="form-check form-check-inline">
											  <input class="form-check-input" type="radio" name="userGenderMF" id="inlineRadio2" value="2">
											  <label class="form-check-label" for="inlineRadio2">여</label>
											</div>
										</div>
										<div class="col-12">
											<!-- input -->
											<label for="formSignupID" class="form-label visually-hidden">아이디
												</label>
											<input type="text" id="userId" name="userId" class="form-control" 
												 />
											<div class="invalid-feedback" id="duplicateId">ID를 입력해주세요.</div>
											
										</div>
										<div class="col-12">
											<div class="password-field position-relative">
												<label for="formSignupPassword"
													class="form-label visually-hidden">비밀번호</label>
												<div class="password-field position-relative">
													<input type="password" class="form-control fakePassword"
														id="userPassword" name="userPassword" placeholder="비밀번호" />
													<span><i class="bi bi-eye-slash passwordToggler"></i></span>
													<div class="invalid-feedback">비밀번호를 입력해주세요.</div>
													
												</div>
											</div>
										</div>
										<div class="col-12">
											<div class="password-field position-relative">
												<label for="formSignupPassword"
													class="form-label visually-hidden">비밀번호 확인</label>
												<div class="password-field position-relative">
													<input type="password" id="passwordCon" name="passwordCon" class="form-control fakePassword"
														 placeholder="비밀번호 확인"  />
													<span><i class="bi bi-eye-slash passwordToggler"></i></span>
													<div class="invalid-feedback">비밀번호가 일치하지 않습니다.</div>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-12">
										    <select class="form-select" id="mobileCarrier" name="mobileCarrier">
										        <option selected value="">통신사</option>
										        <option value="3">SKT</option>
										        <option value="4">LGU+</option>
										        <option value="5">KT</option>
										    </select>
										    <div class="invalid-feedback">통신사를 선택해 주세요</div>
										</div>
										<div class="col-md-8 col-12">
											<label for="formSignupfphonenum" class="form-label visually-hidden">
												</label>
											<input type="text" id="userPhoneNum" name="userPhoneNum" class="form-control" 
												placeholder="" />
											<div class="invalid-feedback">전화번호를 입력해주세요.</div>
										</div>
										<div class="col-md-6 col-12">
											<!-- input -->
											<label for="formSignupfname" class="form-label visually-hidden">
												</label>
											<input type="text" id="sample4_postcode" name="userZipcode" class="form-control" 
												placeholder="" />
											<div class="invalid-feedback">우편번호를 입력해주세요.</div>
										</div>
										
										<div class="col-md-6 col-12">
											<button class="btn btn-primary" type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기">우편번호 검색</button>
										</div>
										<div id="map" style="width:500px;height:200px;"></div>
										<div class="col-12">
											<label for="formSignupaddress" class="form-label visually-hidden">주소
												</label>
											<input type="text" id="sample4_detailAddress" name="userAddress" class="form-control" 
												placeholder="상세 주소를 입력해주세요" required />
											<div class="invalid-feedback">상세주소를 입력해주세요.</div>
										</div>
										<span id="guide" style="color:#999;display:none"></span>
<!-- 										<div id="map" style="width:300px;height:150px;"></div> -->
										<div class="col-12">
											<label for="formSignupaddress" class="form-label visually-hidden">주소
												</label>
											<input type="text" id="sample4_roadAddress" name="streetAddress" class="form-control" 
												placeholder="도로명주소 입력해주세요" required />
											<div class="invalid-feedback">도로명 입력해주세요.</div>
										</div>
										<div class="col-12">
											<label for="formSignupaddress" class="form-label visually-hidden">주소
												</label>
											<input type="text" id="sample4_jibunAddress" name="lotAddress" class="form-control" 
												placeholder="지번주소" required />
											<div class="invalid-feedback">지번주소를 입력해주세요.</div>
										</div>
										<div class="col-12">
											<label for="formSignupaddress" class="form-label visually-hidden">주소
												</label>
											<input type="text"  id="sample4_extraAddress" name="addressRef" class="form-control" 
												placeholder="참고항목" required />
											<div class="invalid-feedback">참고항목를 입력해주세요.</div>
										</div>
										<div class="col-12">
											<label for="formSignupaddress" class="form-label visually-hidden">주소
												</label>
											<input type="text" id="postcode" name="latitude" class="form-control" 
												placeholder="위도" required />
											<div class="invalid-feedback">위도</div>
										</div>
										<div class="col-12">
											<label for="formSignupaddress" class="form-label visually-hidden">주소
												</label>
											<input type="text" id="userAddress" name="longitude" class="form-control" 
												placeholder="경도" required />
											<div class="invalid-feedback">경도</div>
										</div>
										<div class="col-12">
											<label for="formSignupEmail" class="form-label visually-hidden">이메일 주소
												</label>
											<input type="email" id="userEmail" name="userEmail" class="form-control" 
												placeholder="Email" />
											<div class="invalid-feedback">이메일을 입력해주세요.</div>
										</div>
										<div class="col-12">
											<label for="formSignupEmail" class="form-label visually-hidden">생일
												</label>
											<input type="text" id="userDOB" name="userDOB" class="form-control" 
												placeholder="생년월일을 선택해주세요" />
											<div class="invalid-feedback">생년월일을 선택해주세요.</div>
										</div>
										
										<!-- btn -->
										<div class="col-12 d-grid"><button type="button" id="buttonSignUp"
												class="btn btn-primary">회원가입</button></div>

										<div class="col-12">
											<!-- text -->
											<p class="mb-2">
												계정이 있으신가요?
												<a href="./signin.html" class="text-link">로그인</a>
											</p>
											<p class="mb-0">
												<small>
													상기 안내사항에 모두 동의하고 회원가입 절차를 진행 합니다.<br>
													<a href="#!" class="text-link">Terms of Service</a>
													&
													<a href="#!" class="text-link">Privacy Policy</a>
												</small>
											</p>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="modal fade" id="modalAlert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalAlertTitle">title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" id="modalAlertBody">
					body
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary btn-sm btn_custom" name="" id="modalAlertButton" data-bs-dismiss="modal"><i class="fa-solid fa-x fa-lg"></i></button>
					
				</div>
			</div>
		</div>
	</div>
				</div>
			</div>
		</div>
	</div>
	<!--Signup end-->
	<!-- Libs JS -->
	<script src="/user/template/FreshCart-1.4.0/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Swiper JS -->
	<script src="/user/template/FreshCart-1.4.0/assets/libs/swiper/swiper-bundle.min.js"></script>
	<script src="/user/template/FreshCart-1.4.0/assets/libs/simplebar/dist/simplebar.min.js"></script>

	<!-- Theme JS -->
	<script src="/user/template/FreshCart-1.4.0/assets/js/theme.min.js"></script>
	<script src="/user/template/FreshCart-1.4.0/assets/js/vendors/password.js"></script>
	<script src="/user/template/FreshCart-1.4.0/assets/js/vendors/validation.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	
	<script src="/xdm/template/craft_html_v1.1.6/assets/js/custom/jquery-3.7.1.min.js"></script>
	<script src="/xdm/template/craft_html_v1.1.6/assets/js/custom/jquery.datetimepicker.full.min.js"></script>
	<script src="/xdm/template/craft_html_v1.1.6/assets/js/custom/jquery.datetimepicker.min.css"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<!-- 	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=28135095d1a69c93a6a26fcbaa4d7d06"></script> -->
<!-- 	<script src=`//dapi.kakao.com/v2/maps/sdk.js?appkey=${process.env.d22722faffaa61d321f63a60f44d04c8}&libraries=services,clusterer&autoload=false`></script> -->
	
<!-- 	<script type="text/javascript"> -->
// 		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
// 	    mapOption = { 
// 	        center: new kakao.maps.LatLng(37.5665, 126.9780), // 서울 좌표
// 	        level: 3 // 확대 레벨
// 	    };
	
// 		var map = new kakao.maps.Map(mapContainer, mapOption);
<!-- 	</script> -->
	

	<script type="text/javascript">
	
	let seq = document.querySelector("input[name=seq]");
	
	function Validation() {
	    var isValid = true;

	    var firstName = $("#userFirstName").val().trim();
	    var fullName = $("#userName").val().trim();
	    var userId = $("#userId").val().trim();
	    var userPw = $("#userPassword").val();
	    var passwordCon = $("#passwordCon").val();
	    var teleNum = $("#userPhoneNum").val().trim();
	    var zipcode = $("#sample4_postcode").val().trim();
	    var address = $("#sample4_detailAddress").val().trim(); 
	    var emailAdd = $("#userEmail").val().trim();
	    var dob = $("#userDOB").val().trim();
	    var mobile = $("#mobileCarrier").val().trim();

	    function validateField(id, value) {
	        if (value === "") {
	            $("#" + id).addClass("is-invalid").css("border-color", "#dc3545");
	            isValid = false;
	        } else {
	            $("#" + id).removeClass("is-invalid").css("border-color", "");
	        }
	    }

	    validateField("userFirstName", firstName);
	    validateField("userName", fullName);
	    validateField("userId", userId);
	    validateField("userPassword", userPw);
	    validateField("passwordCon", passwordCon);
	    validateField("userPhoneNum", teleNum);
	    validateField("sample4_postcode", zipcode);
	    validateField("sample4_detailAddress", address);
	    validateField("userEmail", emailAdd);
	    validateField("userDOB", dob);
	    validateField("mobileCarrier", mobile);
	    
	    if (userPw !== passwordCon) {
	        $("#passwordCon").addClass("is-invalid").css("border-color", "#dc3545");
	        isValid = false;
	    }

	    return isValid;
	}
    


// $(document).ready(function() {
//     $("#userId").on("blur", function() {
//         checkDuplicateId();
//     });
// });

$("#buttonSignUp").on("click", function() {
	checkDuplicateId();
	
	
    
    if (!Validation()) return;

    

});

function checkDuplicateId() {
    var userId = $("#userId").val().trim();
    if (userId === "") return;

    $.ajax({
        url: "/selectDuplicateId",
        type: "post",
        data: { userId: userId },
        success: function(res) {
            if (res.rt === "fail") {
                $("#userId").addClass("is-invalid").css("border-color", "#dc3545");
                $("#duplicateId").text("ID가 중복되었습니다.");
                $("#userId").data("valid", false);
            } else {
                $("#userId").removeClass("is-invalid").css("border-color", "");
                $("#duplicateId").text("");
                $("#userId").data("valid", true);
                
                if (Validation()) {
                    $("#form").attr("action", "/xdm/userinfo/UserInfoXdmInst");
                    $("#form").submit();
                }
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
        	alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
        }
    });
}

	
	
	</script>
	
	<script type="text/javascript">

jQuery.datetimepicker.setLocale('kr');

jQuery(function(){
	 jQuery('#userDOB').datetimepicker({
	  format:'Y-m-d',
	  onShow:function( ct ){
	   this.setOptions({
	    
	   })
	  },
	  timepicker:false
	 });
	 
	});


</script>

<script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
                
                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>

<script type="text/javascript">
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	    mapOption = { 
	        center: new kakao.maps.LatLng(37.5665, 126.9780), // 서울 좌표
	        level: 3 // 확대 레벨
	    };
	
		var map = new kakao.maps.Map(mapContainer, mapOption);
	</script>
	
	




</body>

</html>