<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a6.module.codegroup.CodeGroupDao">

 <resultMap id="resultMapObj" type="com.a6.module.codegroup.CodeGroupDto"></resultMap>
 
 <sql id="selectCommon" >
 		FROM
			codegroup
		WHERE 1=1
		<if test="shUseNy != null and !shUseNy.equals('')">AND codegroup.groupUsedNY = #{shUseNy}</if>
        <if test="shDelNy != null and !shDelNy.equals('')">AND codegroup.cgDelNY = #{shDelNy}</if>
				
				<choose>
					<when test="shOptionDate == 1">AND codegroup.cgRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND codegroup.cgCorrectDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>

        <choose>
            <when test="shOption == 1">AND codegroup.codeGroupCode = #{shValue}</when>
            <when test="shOption == 2">AND codegroup.cgName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND codegroup.cgNameEng LIKE CONCAT('%',#{shValue},'%')</when>
            
        </choose>
</sql>
 
 <select id="listTotal" resultType="Integer">
 	SELECT SUM(count)
	FROM codegroup;
 </select>
 
 <select id="selectOneCount" resultType="Integer">
	SELECT COUNT(*)
 	<include refid="selectCommon"/>
 </select>
 
 <select id="selectList" resultMap="resultMapObj">
 	select codegroup.* from(
 		SELECT
			seq,
            groupUsedNY,
		    codeGroupCode,
		    cgName,
			cgNameEng,
            count,
            cgOrder,
            cgRegDate,
            cgCorrectDate,
            cgDelNY
		<include refid="selectCommon"/>
		ORDER BY seq DESC
	) codegroup
	limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			seq,
			cgName
		FROM
			codegroup
		WHERE 1=1
			AND cgDelNY = 1
		    AND groupUsedNY = 1
   </select>

<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq,
			groupUsedNY,
			codeGroupCode,
		    cgName,
		    cgNameEng,
		    count,
		    cgOrder,
		    cgRegDate,
		    cgCorrectDate,
		    cgDelNY
		   
		FROM
			codegroup
		WHERE 1=1
			AND seq =#{seq}
		ORDER BY seq DESC
		
	</select>
<insert id="insert">
	INSERT INTO codegroup(
		groupUsedNY,
	    codeGroupCode,
	    cgName,
		cgNameEng,
        count,
        cgOrder,
        cgRegDate,
        cgCorrectDate,
        cgDelNY
	)VALUES(
		
		#{groupUsedNY},
		#{codeGroupCode},
		#{cgName},
		#{cgNameEng},
		#{count},
		#{cgOrder},
		#{cgRegDate},
		#{cgCorrectDate},
		#{cgDelNY}
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<update id="update">
	UPDATE codegroup SET
		groupUsedNY = #{groupUsedNY},
	    codeGroupCode = #{codeGroupCode},
	    cgName = #{cgName},
		cgNameEng = #{cgNameEng},
        count = #{count},
        cgOrder = #{cgOrder},
        cgRegDate = #{cgRegDate},
        cgCorrectDate= #{cgCorrectDate},
        cgDelNY = #{cgDelNY}
		
	WHERE seq = #{seq}

	</update>
	
	<delete id="delete">
		DELETE FROM codegroup
		
		WHERE seq = #{seq}
	</delete>
	
	<update id="uelete">
		UPDATE codegroup SET
		
			cgDelNY = 1
		
		WHERE seq = #{seq}
	</update>
	
	
	
</mapper>