<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a6.module.code.CodeDao">

 <resultMap id="resultMapObj" type="com.a6.module.code.CodeDto"></resultMap>
 
 <sql id="selectCommon" >
 		FROM
			code 
		WHERE 1=1
		<if test="shUseNy != null and !shUseNy.equals('')">AND code.codeUsedNY = #{shUseNy}</if>
        <if test="shDelNy != null and !shDelNy.equals('')">AND code.cdDelNY = #{shDelNy}</if>
<!-- 				
				<choose>
					<when test="shOptionDate == 1">AND a.regDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.modDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
 -->				
        <choose>
            <when test="shOption == 1">AND code.codeGroupCd = #{shValue}</when>
            <when test="shOption == 2">AND code.codeGroupName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND code.codeCD LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 4">AND code.codeAlt LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 5">AND code.cdName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 6">AND code.codeNameEng LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
</sql>

<select id="selectOneCount" resultType="Integer">
	SELECT COUNT(*)
 	<include refid="selectCommon"/>
 </select>
 
<select id="selectList" resultMap="resultMapObj">
 select code.* from(
 
 SELECT
			seq,
            cdDelNY,
		    codeUsedNY,
		    codeGroupCd,
			codeGroupName,
            codeCD,
            codeAlt,
            cdName,
            codeNameEng,
            codeOrder,
            codeRegDate,
            codeCorrectDate,
            codeGroup_seq
            <include refid="selectCommon"/>
           ORDER BY seq DESC
		) code
		limit #{rowNumToShow} offset #{startRnumForMysql}
 </select>
 
 <select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			seq,
			cdName,
			codeGroup_seq
		FROM
			code
		WHERE 1=1
			AND cdDelNY = 1
		    AND codeUsedNY = 1
   </select>
 
 <select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq,
		    codeUsedNY,
			codeGroupCd,
			codeGroupName,
			codeCD,
			codeAlt,
			cdName,
			codeNameEng,
			codeRegDate,
			codeCorrectDate
			
		FROM
			code
		WHERE 1=1
			AND seq = #{seq}
		ORDER BY seq DESC
 </select>
 
 <insert id="insert">
	 INSERT INTO code(
		
		cdDelNY,
		codeUsedNY,
		codeGroupCd,
		codeGroupName,
		codeCD,
		codeAlt,
		cdName,
		codeNameEng,
		codeOrder,
		codeRegDate,
		codeCorrectDate,
		codeGroup_seq
	)VALUES(
		
		#{cdDelNY},
		#{codeUsedNY},
		#{codeGroupCd},
		#{codeGroupName},
		#{codeCD},
		#{codeAlt},
		#{cdName},
		#{codeNameEng},
		#{codeOrder},
		#{codeRegDate},
		#{codeCorrectDate},
		#{codeGroup_seq}
	)
 	<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
 	</insert>
 	
 	<update id="update">
	UPDATE code SET
		cdDelNY = #{cdDelNY},
	    codeUsedNY = #{codeUsedNY},
	    codeGroupCd = #{codeGroupCd},
		codeGroupName = #{codeGroupName},
        codeCD = #{codeCD},
        codeAlt = #{codeAlt},
        cdName = #{cdName},
        codeNameEng= #{codeNameEng},
        codeOrder = #{codeOrder},
        codeRegDate = #{codeRegDate},
        codeCorrectDate = #{codeCorrectDate},
        codeGroup_seq = #{codeGroup_seq}
		
	WHERE seq = #{seq}

	</update>
 	
 	

 </mapper>