<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a6.module.userinfo.UserInfoDao">

 <resultMap id="resultMapObj" type="com.a6.module.userinfo.UserInfoDto"></resultMap>
 
 <sql id="selectCommon" >
 		
 	 
	FROM userinfo a
	Where 1=1

		
 		<if test="shUseNy != null and !shUseNy.equals('')">AND a.userCodeCD = #{shUseNy}</if>
        <if test="shDelNy != null and !shDelNy.equals('')">AND a.userInfoDelYN = #{shDelNy}</if>
				
				<choose>
					<when test="shOptionDate == 1">AND a.userDOB BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.userRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
 				</choose>
 				
        <choose>
            <when test="shOption == 1">AND a.userFirstName = #{shValue}</when>
            <when test="shOption == 2">AND a.userName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND a.userId LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 4">AND a.userPassword LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 5">AND a.mobileCarrier LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 6">AND a.userPhoneNum LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 7">AND a.adminDistrict LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 8">AND a.userEmail LIKE CONCAT('%',#{shValue},'%')</when>
            
            
        </choose>	
 </sql>
 
 <select id="selectOneCount" resultType="Integer">
 	SELECT COUNT(*)
 	<include refid="selectCommon"/>
 </select>
 
 <select id="selectDuplicateId" resultType="Integer">
	SELECT COUNT(userId) 
	FROM userinfo
	WHERE userId =#{userId}
</select>
 
 
 <select id="selectList" resultMap="resultMapObj">
 	select userinfo.* from( 
		 SELECT
			seq,
		    userCodeCD,
		    userFirstName,
		    userName,
		    userGenderMF,
		    userId,
		    userPassword,
		    mobileCarrier,
		    userPhoneNum,
		    userZipcode,
		    adminDistrict,
		    userAddress,
		    streetAddress,
		    lotAddress,
		    addressRef,
		    latitude,
		    longitude,
		    userEmail,
		    userDOB,
		    userRegDate,
		    userInfoDelYN,
		    userReview_seq,
		    payMethod_seq,
		    reservCurrent_seq
		<include refid="selectCommon"/>
		ORDER BY seq DESC
	) userinfo
	limit #{rowNumToShow} offset #{startRnumForMysql}
</select>

<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq,
			userCodeCD,
			userFirstName,
		    userName,
		   	userId,
		   	userPassword,
		   	mobileCarrier,
		   	userPhoneNum,
		   	userZipcode,
		   	adminDistrict,
		   	userAddress,
		   	userEmail,
		   	userDOB,
		   	userRegDate,
		   	userInfoDelYN
		FROM
			userinfo
		WHERE 1=1
			AND seq = #{seq}
			<!-- 		userSeq=#{userSeq} -->
<!-- 	 <if test="seq != null and !seq.equals('')"> AND seq = #{seq}</if> -->
<!-- 	 <if test="userId != null and !userId.equals('')"> AND userId = #{userId}</if> -->
<!-- 	 <if test="userPassword != null and !userPassword.equals('')"> AND userPassword = #{userPassword}</if> -->
		ORDER BY seq DESC
</select>

<!-- <select id="selectOneLogin" resultMap="resultMapObj"> -->
<!-- 			select -->
<!-- 				seq, -->
<!-- 				userId, -->
<!-- 				userName, -->
<!-- 				userPassword -->
				
<!-- 			From -->
<!-- 				userinfo -->
<!-- 			where -->
<!-- 				1=1 -->

<!-- and userId= #{userId} -->
<!-- <if test="userPassword !=null and !userPassword.equals('')"> -->
<!-- And userPassword=#{userPassword}</if> -->
<!-- </select> -->

<select id="selectOneLogin" resultMap="resultMapObj">
    SELECT
        seq,
        userId,
        userName,
        userPassword
    FROM
        userinfo
    WHERE
        userId = #{userId}
</select>

<insert id="insert">
	 INSERT INTO userinfo(
		
		userCodeCD,
		userFirstName,
		userName,
		userGenderMF,
		userId,
		userPassword,
		mobileCarrier,
		userPhoneNum,
		userZipcode,
		adminDistrict,
		userAddress,
		streetAddress,
		lotAddress,
		addressRef,
	    latitude,
	    longitude,
		userEmail,
		userDOB,
		userRegDate,
		userInfoDelYN,
		userReview_seq,
		payMethod_seq,
		reservCurrent_seq
	)VALUES(
		16,
	    #{userFirstName},
	    #{userName},
	    #{userGenderMF},
	    #{userId},
	    #{userPassword},
	    #{mobileCarrier},
	    #{userPhoneNum},
	    #{userZipcode},
	    #{adminDistrict},
	    #{userAddress},
	    #{streetAddress},
	    #{lotAddress},
	    #{addressRef},
	    #{latitude},
	    #{longitude},
	    #{userEmail},
	    #{userDOB},
	    NOW(),
	    0,
	    1,
	    1,
	    1
	)
 	<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
 	</insert>
 	
 	
	
	
 
 </mapper>