

<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{usr/include/usrindex/head ::head}"></div>


	<div th:replace="~{usr/include/usrindex/sidebar ::sidebar}"></div>
				<!--Account sidebar end-->
				<!--Orders start-->
				<div class="col-lg-9 col-md-8">
					<div class="row g-3 mb-4">
						<div class="col-lg-6">
							<!--Heading-->
							<h1 class="mb-0 h2">개인 평가</h1>
						</div>
<!-- 						<form id="formList"> -->
<!-- 								<input type="hidden" id="thisPage" name="thisPage"  th:value="${vo.thisPage}" default="1"/> -->
<!-- 								<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}" /> -->
						<div class="col-lg-3 col-md-6 col-12">
							<select data-choices data-choices-removeitembutton="true"
								data-choices-classname="form-select">
								<option value="all-time">모든 날짜</option>
								<option value="last-year">마지막 년도</option>
								<option value="last-3-months">3개월 전</option>
								<option value="last-30-days">30일 전</option>
								<option value="last-week">마지막 달</option>
							</select>
						</div>


					</div>
					<!--Order-->
					<div th:each="review : ${reviewList}" class="card mb-3">
    <div class="card-header d-flex justify-content-between px-3 py-3">
        <span th:text="'예약 번호: ' + ${review.reSeq}" class="text-dark fw-semibold">예약 번호</span>
        <span class="badge text-bg-info">리뷰 완료</span>
    </div>

    <div class="card-body px-3 py-3">
        <div class="row gy-4">
            

            <div class="col-lg-12">
                <div class="row align-items-center gy-3">
                    <div class="col-lg-4">
                        <div class="d-flex flex-column">
                            <span>숙소명</span>
                            <span th:text="${review.roomInfo.roomName}" class="text-dark fw-medium">숙소명</span>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="d-flex flex-column">
                            <span>리뷰 제목</span>
                            <span th:text="${review.reTitle}" class="text-dark fw-medium">홍길동</span>
                        </div>
                    </div>

                   
                    <div class="col-lg-3">
                        <div class="d-flex flex-column">
                            <span>등록일</span>
                            <span>
                                <span th:text="${review.regDateTime}"></span>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="d-flex flex-column">
                            <a class="text-link" th:href="@{'/review/detail/' + ${review.reSeq}}">
                                리뷰 내용 보기
                            </a>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>

					
					
					<div>
						<!--Pagination-->
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<li class="page-item">
									<a class="page-link" href="#!" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								<li class="page-item"><a class="page-link active" href="#!">1</a></li>
								<li class="page-item"><a class="page-link" href="#!">2</a></li>
								<li class="page-item"><a class="page-link" href="#!">3</a></li>
								<li class="page-item">
									<a class="page-link" href="#!" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>


				</div>
				<!--Orders end-->
			</div>

		</div>
	</section>
	<!--offcanvas-->
	<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel"
		style="width: 546px;">
		<div class="offcanvas-header align-items-start">

			<div class="d-flex flex-column gap-2">

				<h4 class="offcanvas-title mb-0" id="offcanvasRightLabel">Order # 78A6543D210
				</h4>
				<div>
					<span class="badge text-bg-info">In progress</span>
				</div>

			</div>
			<button type="button" class="btn-close mt-1" data-bs-dismiss="offcanvas" aria-label="Close"></button>





		</div>
		<hr class="mx-3">
		<div class="offcanvas-body d-flex flex-column gap-6">
			<div class="text-center d-flex flex-column gap-4 ">
				<span class="mb-0 fw-medium text-dark">Be patient, package on deliver!</span>
				<div class="progress rounded-pill" role="progressbar" aria-label="Success example" aria-valuenow="25"
					aria-valuemin="0" aria-valuemax="100" style="height: 10px">
					<div class="progress-bar bg-success" style="width: 70%"></div>
				</div>
			</div>

			<div>
				<div class="d-flex mb-3 align-items-start cart-item gap-4 " data-product-price="34">
					<img src="./assets/images/product/product-img-2.jpg" alt="Sofa with wood legs"
						class="icon-shape icon-xxl">

					<div class="me-auto d-flex flex-column gap-2">
						<div class="d-flex flex-column gap-1">
							<h6 class="mb-0">Stylish Wooden Table Lamp</h6>
							<p class="mb-0 lh-1 text-dark fw-semibold">$69.00</p>
						</div>
						<small class="text-dark fw-medium">Qty: 1</small>

					</div>

				</div>
				<div class="d-flex mb-3 align-items-start cart-item gap-4 " data-product-price="34">
					<img src="./assets/images/product/product-img-8.jpg" alt="Sofa with wood legs"
						class="icon-shape icon-xxl">

					<div class="me-auto d-flex flex-column gap-2">
						<div class="d-flex flex-column gap-1">
							<h6 class="mb-0">Succulent Plant Pot</h6>
							<p class="mb-0 lh-1 text-dark fw-semibold">
								<span class="text-danger">$14.00</span>
								<span class="text-decoration-line-through">$15.00</span>
						</div>

						<small class="text-dark fw-medium">Qty: 1</small>

					</div>

				</div>
				<div class="d-flex mb-3 align-items-start cart-item gap-4 " data-product-price="34">
					<img src="./assets/images/product/product-img-6.jpg" alt="Sofa with wood legs"
						class="icon-shape icon-xxl">

					<div class="me-auto d-flex flex-column gap-2">
						<div class="d-flex flex-column gap-1">
							<h6 class="mb-0">Design wall clock</h6>
							<p class="mb-0 lh-1 text-dark fw-semibold">$69.00</p>
						</div>
						<small class="text-dark fw-medium">Qty: 1</small>

					</div>

				</div>

			</div>
			<div class="d-flex flex-column gap-4">
				<div class="card">
					<div class="card-header bg-white py-3">

						<div class="d-flex flex-row align-items-center gap-2">
							<div>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
									class="bi bi-truck text-primary" viewBox="0 0 16 16">
									<path
										d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A2 2 0 0 1 4.732 11h5.536a2 2 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2" />
								</svg>
							</div>
							<span class="text-dark fw-medium">Delivery</span>
							<span>In 5 days</span>
						</div>

					</div>
					<div class="card-body">
						<ul class="list-unstyled mb-0 d-flex flex-column gap-3">
							<li>
								<div class="d-flex flex-row justify-content-between align-items-center">
									<span>Estimated delivery date:</span>
									<span class="text-dark fw-medium">Feb 8, 2025 / 10:00 - 12:00</span>
								</div>
							</li>
							<li>
								<div class="d-flex flex-row justify-content-between align-items-center">
									<span>Shipping method:</span>
									<span class="text-dark fw-medium">Courier delivery</span>
								</div>
							</li>
							<li>
								<div class="d-flex flex-row justify-content-between align-items-center">
									<span>Shipping address:</span>
									<span class="text-dark fw-medium">567 Cherry Lane Apt B12,Harrisburg</span>
								</div>
							</li>
						</ul>

					</div>

				</div>

				<div class="card">
					<div class="card-header bg-white py-3">

						<div class="d-flex flex-row align-items-center gap-2">
							<div>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
									class="bi bi-credit-card text-primary" viewBox="0 0 16 16">
									<path
										d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z" />
									<path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
								</svg>
							</div>
							<span class="text-dark fw-medium">Payment</span>

						</div>

					</div>
					<div class="card-body">
						<ul class="list-unstyled mb-0 d-flex flex-column gap-3">
							<li>
								<div class="d-flex flex-row justify-content-between align-items-center">
									<span>Payment method:</span>
									<span class="text-dark fw-medium">Cash on delivery</span>
								</div>
							</li>
							<li>
								<div class="d-flex flex-row justify-content-between align-items-center">
									<span>Tax collected:</span>
									<span class="text-dark fw-medium">$12.40</span>
								</div>
							</li>
							<li>
								<div class="d-flex flex-row justify-content-between align-items-center">
									<span>Shipping:</span>
									<span class="text-dark fw-medium">$26.50</span>
								</div>
							</li>

						</ul>
					</div>
					<div class="card-footer border-top-0 bg-light">
						<div class="d-flex flex-row justify-content-between align-items-center">
							<span>Estimated total:</span>
							<span class="text-dark fw-medium">$2,105.90</span>
						</div>
					</div>
				</div>
				<div class="d-flex gap-3 flex-row ">
					<a href="#!" class="btn btn-outline-primary w-100"><span>
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M15 2H6C5.46957 2 4.96086 2.21071 4.58579 2.58579C4.21071 2.96086 4 3.46957 4 4V20C4 20.5304 4.21071 21.0391 4.58579 21.4142C4.96086 21.7893 5.46957 22 6 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V7L15 2Z"
									stroke="#DC2626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								<path
									d="M14 2V6C14 6.53043 14.2107 7.03914 14.5858 7.41421C14.9609 7.78929 15.4696 8 16 8H20"
									stroke="#DC2626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								<path d="M10 9H8" stroke="#DC2626" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" />
								<path d="M16 13H8" stroke="#DC2626" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" />
								<path d="M16 17H8" stroke="#DC2626" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" />
							</svg>
						</span>Download invoice</a>
					<a href="#!" class="btn btn-outline-primary w-100"><span>

							<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path d="M15 12H10" stroke="#DC2626" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" />
								<path d="M15 8H10" stroke="#DC2626" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" />
								<path
									d="M19 17V5C19 4.46957 18.7893 3.96086 18.4142 3.58579C18.0391 3.21071 17.5304 3 17 3H4"
									stroke="#DC2626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								<path
									d="M8 21H20C20.5304 21 21.0391 20.7893 21.4142 20.4142C21.7893 20.0391 22 19.5304 22 19V18C22 17.7348 21.8946 17.4804 21.7071 17.2929C21.5196 17.1054 21.2652 17 21 17H11C10.7348 17 10.4804 17.1054 10.2929 17.2929C10.1054 17.4804 10 17.7348 10 18V19C10 19.5304 9.78929 20.0391 9.41421 20.4142C9.03914 20.7893 8.53043 21 8 21ZM8 21C7.46957 21 6.96086 20.7893 6.58579 20.4142C6.21071 20.0391 6 19.5304 6 19V5C6 4.46957 5.78929 3.96086 5.41421 3.58579C5.03914 3.21071 4.53043 3 4 3C3.46957 3 2.96086 3.21071 2.58579 3.58579C2.21071 3.96086 2 4.46957 2 5V7C2 7.26522 2.10536 7.51957 2.29289 7.70711C2.48043 7.89464 2.73478 8 3 8H6"
									stroke="#DC2626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
							</svg>

						</span>Download summary</a>
				</div>
			</div>
			<div class="d-grid mt-11">
				<a href="#!" class="btn btn-primary">Change the delivery time</a>
			</div>
		</div>
	</div>
	<div th:replace="~{usr/include/usrindex/footer ::footer}"></div>
	<div class="btn-scroll-top">
		<svg class="progress-square svg-content" width="100%" height="100%" viewBox="0 0 40 40">
			<path
				d="M8 1H32C35.866 1 39 4.13401 39 8V32C39 35.866 35.866 39 32 39H8C4.13401 39 1 35.866 1 32V8C1 4.13401 4.13401 1 8 1Z" />
		</svg>
	</div>

	<!-- Libs JS -->
	<script src="./assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Swiper JS -->
	<script src="./assets/libs/swiper/swiper-bundle.min.js"></script>
	<script src="./assets/libs/simplebar/dist/simplebar.min.js"></script>

	<!-- Theme JS -->
	<script src="./assets/js/theme.min.js"></script>

	<script src="./assets/js/vendors/flag.js"></script>

	<script src="./assets/js/vendors/validation.js"></script>
	<script src="./assets/js/vendors/btn-scrolltop.js"></script>
	<script src="./assets/js/vendors/sidenav.js"></script>
	<script src="./assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>

	<script src="./assets/js/vendors/choice.js"></script>
</body>

</html>