<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{xdm/Include/code/head ::codehead}"></div>
					<!--begin::Content-->
					<div class="content fs-6 d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Toolbar-->
						<div class="toolbar" id="kt_toolbar">
							<div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
								<!--begin::Info-->
								<div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
									<!--begin::Title-->
									<h1 class="text-gray-900 fw-bold my-1 fs-2">Code</h1>
									<!--end::Title-->
									<!--begin::Breadcrumb-->
									<ul class="breadcrumb fw-semibold fs-base my-1">
										<li class="breadcrumb-item text-muted">
											<a href="index.html" class="text-muted text-hover-primary">Home</a>
										</li>
										<li class="breadcrumb-item text-muted">eCommerce</li>
										<li class="breadcrumb-item text-muted">Catalog</li>
										<li class="breadcrumb-item text-gray-900">Code</li>
									</ul>
									<!--end::Breadcrumb-->
								</div>
								<!--end::Info-->
								<!--begin::Actions-->
								
								<!--end::Actions-->
							</div>
						</div>
						<!--end::Toolbar-->
						<!--begin::Post-->
						<div class="post fs-6 d-flex flex-column-fluid" id="kt_post">
							<!--begin::Container-->
							<div class="container-xxl">
								<!--begin::Form-->
								<form  action="/xdm/codegroup/CodeGroupXdmInst"  method="post" id="form" class="form d-flex flex-column flex-lg-row" data-kt-redirect="apps/ecommerce/catalog/products.html">
									
									<!--begin::Main column-->
									<div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
										
										<!--end:::Tabs-->
										<!--begin::Tab content-->
										<div class="tab-content">
											<!--begin::Tab pane-->
											<div class="tab-pane fade show active" id="kt_ecommerce_add_product_general" role="tab-panel">
												<div class="d-flex flex-column gap-7 gap-lg-10">
													<!--begin::General options-->
													<div class="card card-flush py-4">
														<!--begin::Card header-->
														<div class="card-header">
															<div class="card-title">
																<h2>기본정보</h2>
															</div>
														</div>
														<!--end::Card header-->
														<!--begin::Card body-->
														<div class="card-body pt-0">
															<!--begin::Input group-->
															<div class="mb-10 fv-row">
																<!--begin::Label-->
																<label class="form-label ms-3">코드그룹이름</label>
																<!--end::Label-->
																<!--begin::Input-->
																<input th:value = "${item.codeGroupName}" type="text" class="form-control " style="font-weight: bold; font-size:15px; width:285px; height:41px" disabled >
																
																
																<!--end::Input-->
																<!--begin::Description-->
																<!--begin::Label-->
																<div class="d-flex flex-column flex-md-row gap-5 mt-4">
														<div class="flex-row-fluid">
															<!--begin::Label-->
															<label class="form-label ms-3">사용 여부</label>
															<!--end::Label-->
															<!--begin::Input-->
															<input  th:value = "${item.codeUsedNY}"type="text" class="form-control" disabled/>
															<!--end::Input-->
														</div>
														<div class="fv-row flex-row-fluid">
															<!--begin::Label-->
															<label class="form-label ms-3">코드그룹코드</label>
															<!--end::Label-->
															<!--begin::Input-->
															<input th:value = "${item.codeGroupCd}" type="text" class="form-control" disabled />
															<!--end::Input-->
														</div>
														<div class="fv-row flex-row-fluid">
															<!--begin::Label-->
															<label class="form-label ms-3">코드</label>
															<!--end::Label-->
															<!--begin::Input-->
															<input type="text" th:value = "${item.codeCD}" class="form-control" disabled  />
															<!--end::Input-->
														</div>
														<div class="fv-row flex-row-fluid">
															<!--begin::Label-->
															<label class="form-label ms-3">코드 (Another)</label>
															<!--end::Label-->
															<!--begin::Input-->
															<input th:value = "${item.codeAlt}" type="text" class="form-control" disabled  />
															<!--end::Input-->
														</div>
													</div>
																<!--end::Input-->
																<!--begin::Description-->
																
																<!--end::Description-->
															</div>
															<div class="d-flex flex-column flex-md-row gap-5 mt-n5">
														<div class="flex-row-fluid">
															<!--begin::Label-->
															<label class="form-label ms-3">코드 이름</label>
															<!--end::Label-->
															<!--begin::Input-->
															<input th:value = "${item.cdName}" type="text"  class="form-control" disabled />
															<!--end::Input-->
														</div>
														<div class="fv-row flex-row-fluid">
															<!--begin::Label-->
															<label class="form-label ms-3">코드 이름 (영문)</label>
															<!--end::Label-->
															<!--begin::Input-->
															<input th:value = "${item.codeNameEng}" type="text" class="form-control" disabled />
															<!--end::Input-->
														</div>
														<div class="fv-row flex-row-fluid">
															<!--begin::Label-->
															<label class="form-label ms-3">코드 등록 일자</label>
															<!--end::Label-->
															<!--begin::Input-->
															<input th:value = "${item.codeRegDate}" type="text" class="form-control" disabled />
															<!--end::Input-->
														</div>
														<div class="fv-row flex-row-fluid">
															<!--begin::Label-->
															<label class="form-label ms-3">코드 수정 일자</label>
															<!--end::Label-->
															<!--begin::Input-->
															<input th:value = "${item.codeCorrectDate}" type="text" class="form-control" disabled />
															<!--end::Input-->
														</div>
													</div>
													
															<div class="fv-row col-sm-6 mt-n5">
																	<!--begin::Label-->
																	
																	<!--end::Label-->
																	<!--begin::Input-->
																	<div class="d-flex flex-wrap flex-sm-nowrap gap-3">
																		<div class="fv-row flex-row-fluid">
															<!--begin::Label-->
															
															<!--end::Input-->
														</div>
														<div class="fv-row flex-row-fluid ">
															<!--begin::Label-->
															
															<!--end::Input-->
														</div>
																	</div>
																	<!--end::Input-->
																	<!--begin::Description-->
																	
																	<!--end::Description-->
																</div>
															
															<!--end::Input group-->
															<!--begin::Input group-->
															<div>
																<!--begin::Label-->
																<label class="form-label mt-10 ms-3">설명</label>
																<!--end::Label-->
																<!--begin::Editor-->
																<div class="min-h-200px mb-2 border-radius:30px">
																	<textarea name="" id="" style=" width: 600px; height:150px ; border-width:2px" class="border-radius:30px border-secondary" disabled>
																	
																	</textarea></div>
																	<div class="fv-row">
																
																<!--begin::Input-->
																<div class=" col-12  d-flex flex-stack flex-wrap  flex-sm-nowrap py-2 m" >
												
																	<button type="button" id="btnSave" class="btn btn fw-bold btn-secondary btn-sm"><i class="fa-solid fa-list fs-2x ps-3 me-2"></i></button>
																	<div class="container-fluid  d-flex flex-stack flex-wrap justify-content-end flex-sm-nowrap py-2 m" >
																	<a href="apps/ecommerce/catalog/add-product.html" class="btn btn-success d-flex ms-8 btn-sm"><i class="fa-solid fa-u fs-2x ps-3 me-2"></i></a>	
																	<a href="apps/ecommerce/catalog/add-product.html" class="btn btn-success d-flex ms-8 btn-sm"><i class="fa-solid fa-solid fa-file-excel fs-2x ps-3 me-2"></i></a>	
																	<button type="button" class="btn btn-primary d-flex ms-8 btn-sm"><i class="fa-solid fa-pen-to-square fs-2x ps-3 me-2"></i></button>
																</div>
																	
																</div>
																<!--end::Input-->
																<!--begin::Description-->
																
																<!--end::Description-->
															</div>
																<!--end::Editor-->
																<!--begin::Description-->
															
																<!--end::Description-->
															</div>
															
															<!--end::Input group-->
														</div>
														
														<!--end::Card header-->
													</div>
													
													<!--end::General options-->
													<!--begin::Media-->
													
													
												</div>
											</div>
											<!--end::Tab pane-->
											<!--begin::Tab pane-->
											
										<!--end::Tab content-->
										
									</div>
									<!--end::Main column-->
								</form>
								<!--end::Form-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Post-->
					</div>
					<!--end::Content-->
					<div th:replace="~{xdm/Include/code/footer ::codefooter}"></div>