<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{xdm/Include/code/head ::codehead}"></div>

					<!--begin::Content-->
<div class="content fs-6 d-flex flex-column flex-column-fluid" id="kt_content">
	<form name="formList" id="formList" method="post"  >
		<input type = "hidden" name = "thisPage" th:value="${vo.thisPage}" default="1"/>
		<input type = "hidden" id = "rowNumToShow" name = "rowNumToShow" th:value = "${vo.rowNumToShow}"/>
		<input type = "hidden" name="seq">
	<!--begin::Toolbar-->
	<div class="toolbar" id="kt_toolbar">
		<div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
			<!--begin::Info-->
			<div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
				<!--begin::Title-->
				<h1 class="text-gray-900 fw-bold my-1 fs-2">Code</h1>
				<!--end::Title-->
				<!--begin::Breadcrumb-->
				<ul class="breadcrumb fw-semibold fs-base my-1">
					<li class="breadcrumb-item text-muted">
						<a href="index.html" class="text-muted text-hover-primary">Home</a>
					</li>
					<li class="breadcrumb-item text-muted">eCommerce</li>
					<li class="breadcrumb-item text-muted">Catalog</li>
					<li class="breadcrumb-item text-gray-900">Code</li>
				</ul>
				<!--end::Breadcrumb-->
			</div>
			<!--end::Info-->
			<!--begin::Actions-->
			
			<!--end::Actions-->
		</div>
		
		<div id="divSearch" class="container-fluid  d-flex flex-stack flex-wrap flex-sm-nowrap py-4 ms-20" >
			<div class="d-flex flex-column align-items-start justify-content-center flex-wrap ms-20" >
			<select id="shDelNy" name="shDelNy" class="d-flex flex-start mt-n1 ms-2 form-select" style="font-weight: bold; font-size:15px; width:200px; height:41px" ></span>
			<option value="" th:selected="${vo.shDelNy == null}" style="background-color: white; color:black; width:200px; height:41px">삭제여부</option>
			<option value="1" th:selected="${vo.shDelNy == 1}" style="background-color: white; color:black; width:200px; height:41px">Y</option>
			<option value="0" th:selected="${vo.shDelNy == 0}" style="background-color: white; color:black; width:200px; height:41px">N</option>
			</select>
			</div>
			<div class="d-flex flex-column align-items-start justify-content-center flex-wrap ms-20" >
			
			<select id="shUseNy" name="shUseNy" class="d-flex flex-start mt-n1 ms-n1 form-select" style="font-weight: bold; font-size:15px; width:200px; height:41px" ></span>
			<option value="" th:selected="${vo.shUseNy == null}" style="background-color: white; color:black; width:200px; height:41px" >사용여부</option>
			<option value="1"  th:selected="${vo.shUseNy == 1}" style="background-color: white; color:black; width:200px; height:41px" >Y</option>
			<option value="0"  th:selected="${vo.shUseNy == 0}" style="background-color: white; color:black; width:200px; height:41px" >N</option>
			</select>
			</div>
			<div class="d-flex flex-column align-items-start justify-content-center flex-wrap ms-20" >
			
			<select class="d-flex flex-start mt-n1 ms-2 form-select" style="font-weight: bold; font-size:15px; width:200px; height:41px"></span>
			<option value=""  style="background-color: white; color:black; width:200px; height:41px" >날짜</option>
			<option value=""  style="background-color: white; color:black; width:200px; height:41px" >등록일</option>
			<option value=""  style="background-color: white; color:black; width:200px; height:41px" >수정일</option>
			</select>
			</div>
			  <div class="d-flex flex-column align-items-start justify-content-center flex-wrap ms-20">
				<input type="text" placeholder="시작일" class="form-control form-control-sm" style=" width:200px; height:41px; border-radius: 5px; border-width: 0cap; padding-left: 15px;" autocomplete="off"></div>
			  <div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap ms-10">
				<input type="text"  placeholder="종료일" class="form-control form-control-sm"  style=" width:200px; height:41px; border-radius: 5px; border-width: 0cap; padding-left: 15px;" autocomplete="off"></div>
				</div>
			
                           <div class="container-fluid  d-flex flex-stack flex-wrap flex-sm-nowrap py-2 ms-20">
				<div class="d-flex flex-column align-items-start justify-content-center flex-wrap ms-20" >
			
			<select id="shOption" name="shOption" class="d-flex flex-start mt-n1 ms-2 form-select" style="font-weight: bold; font-size:15px; width:200px; height:41px" aria-label="Default select example">N</span>
			<option value="" th:selected="${vo.shOption == null}" style="background-color: white; color:black; width:200px; height:41px" >검색구분</option>
			<option value="1" th:selected="${vo.shOption == 1}" style="background-color: white; color:black; width:200px; height:41px" >코드그룹 코드</option>
			<option value="2" th:selected="${vo.shOption == 2}" style="background-color: white; color:black; width:200px; height:41px" >코드그룹 이름</option>
			<option value="3" th:selected="${vo.shOption == 3}" style="background-color: white; color:black; width:200px; height:41px">코드</option>
			<option value="4" th:selected="${vo.shOption == 4}" style="background-color: white; color:black; width:200px; height:41px" >대체 코드</option>
			<option value="5" th:selected="${vo.shOption == 5}" style="background-color: white; color:black; width:200px; height:41px" >코드 이름</option>
			<option value="6" th:selected="${vo.shOption == 6}" style="background-color: white; color:black; width:200px; height:41px" >코드 이름(영문)</option>
			</select>
			</div>
			<div class="d-flex flex-column align-items-start justify-content-center flex-wrap ms-19">
				<input type="text" id="shValue" name="shValue" th:value="${vo.shValue}" onkeyup="enterkey()" placeholder="검색어" class="form-control form-control-sm" style="font-weight: bold; font-size:15px; width:200px; height:41px; border-radius: 5px; border-width: 0cap; padding-left: 15px;">
				<div class="invalid-feedback" id="shValueFeedback"></div>
			</div>
				<button type="button" id="btnSearch" class="btn btn-primary ms-18"><i class="fa-solid fa-magnifying-glass fs-2 py-n5 me-n1"></i></button>
				<div class="container-fluid  d-flex flex-stack flex-wrap flex-sm-nowrap py-2 me-15 ">
				<button type="button" id="btnReset" class="btn btn-primary ms-n6"><i class="fa-solid fa-rotate-right fs-2 py-n5 me-n1"></i></button></div>
				</div>
                           
	<div class="toolbar" id="kt_toolbar"></div>
	<!--end::Toolbar-->
	<!--begin::Post-->
	<div class="post fs-6 d-flex flex-column-fluid" id="kt_post">
		<!--begin::Container-->
		<div class="container-xxl">
			<!--begin::Products-->
			<div class="card card-flush">
				<!--begin::Card header-->
				<div class="card-header align-items-center py-5 gap-2 gap-md-5">
					<!--begin::Card title-->
					<div class="card-title">
						<!--begin::Search-->
						<div class="d-flex align-items-center position-relative my-1">
							<i class="ki-duotone ki-magnifier fs-3 position-absolute ms-4">
								<span class="path1"></span>
								
							</i>
							<h1 class="ms-5">Total</h1>
						</div>
						<!--end::Search-->
					</div>
					<!--end::Card title-->
					<!--begin::Card toolbar-->
					<div class="card-toolbar flex-row-fluid justify-content-end gap-5">
						<div class="w-100 mw-150px">
							<!--begin::Select2-->
							<select class="form-select"  id="changeRowNum" name="changeRowNum" aria-label="Default select example">
							<option value="5"  th:selected="${vo.rowNumToShow eq 5}">5</option>
							<option value="10" th:selected="${vo.rowNumToShow eq 10}">10</option>
							<option value="30" th:selected="${vo.rowNumToShow eq 30}">30</option>
							<option value="50" th:selected="${vo.rowNumToShow eq 50}">50</option>
							</select>
							<!--end::Select2-->
						</div>
						
					</div>
					<!--end::Card toolbar-->
				</div>
				<!--end::Card header-->
				<!--begin::Card body-->
				<div class="card-body pt-0">
					<!--begin::Table-->
					<table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_ecommerce_products_table">
						<thead>
							<tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
								<th class="w-10px pe-2">
									<div class="form-check form-check-sm form-check-custom form-check-solid me-3">
										<input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_ecommerce_products_table .form-check-input" value="1" />
									</div>
								</th>
								<th class="min-w-30px">#</th>
								<th class="min-w-30px">사용</th>
								<th class="min-w-50px">코드그룹 코드</th>
								<th class="text-start min-w-100px">코드구룹 이름</th>
								<th class="text-start min-w-50px">코드</th>
								<th class="text-end min-w-50px">대체 코드</th>
								<th class="text-center min-w-100px">코드 이름</th>
								<th class="text-center min-w-100px">코드 이름(영문)</th>
								<th class="text-start min-w-40px">순서</th>
								<th class="text-start min-w-40px">등록일</th>
								<th class="text-start min-w-40px">수정일</th>
							</tr>
						</thead>
						<tbody class="fw-semibold text-gray-600">
							<tr th:if="${#lists.isEmpty(list)}" class="hover-action-trigger btn-reveal-trigger position-static">
								<td colspan="10">
									<p class="fs-0" style="padding-top: 12px">There are no data</p>
								</td>	
							</tr>
							<tr th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}">
								<td>
									<div class="form-check form-check-sm form-check-custom form-check-solid">
										<input class="form-check-input" type="checkbox" value="1" />
									</div>
								</td>
								<td>
									<div class="d-flex align-items-center">
										<!--begin::Thumbnail-->
										<a th:text="${vo.totalRows - ((vo.thisPage - 1) * vo.rowNumToShow + listStat.index)}">
											
										</a>
										<!--end::Thumbnail-->
										<div class="ms-5">
											<!--begin::Title-->
											
											<!--end::Title-->
										</div>
									</div>
								</td>
								
								<td th:text ="${list.codeUsedNY}" class="text-start pe-0" ></td>
								<td th:text ="${list.codeGroupCd}" class="text-start pe-0"></td>
								<td th:text ="${list.codeGroupName}" class="text-start pe-0" ></td>
								<td th:text ="${list.codeCD}" class="text-start pe-0" data-order="Scheduled"></td>
								<td th:text ="${list.codeAlt}" class="text-center pe-0">
								<td class="text-center pe-0 cdName"><a href="javascript:void(0);" th:text="${list.cdName}" th:attr="onclick=|goForm('${list.seq}')|"></a></td>
								<td th:text ="${list.codeNameEng}" class="text-center pe-0">
								<td th:text ="${list.codeOrder}" class="text-start pe-0">
								<td th:text ="${list.codeRegDate}" class="text-start pe-0">
								<td th:text ="${list.codeCorrectDate}" class="text-start pe-0">
								
									<!--begin::Menu-->
									<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4" data-kt-menu="true">
										<!--begin::Menu item-->
										<div class="menu-item px-3">
											<a href="apps/ecommerce/catalog/edit-product.html" class="menu-link px-3">Edit</a>
										</div>
										<!--end::Menu item-->
										<!--begin::Menu item-->
										<div class="menu-item px-3">
											<a href="#" class="menu-link px-3" data-kt-ecommerce-product-filter="delete_row">Delete</a>
										</div>
										<!--end::Menu item-->
									</div>
									<!--end::Menu-->
								</td>
							</tr>
						</tbody>
					</table>
					<!--begin::Add product-->
					<div class="container-fluid  d-flex flex-stack flex-wrap justify-content-Center flex-sm-nowrap py-2 m" >
					<div class="justify-content-center col-12">
						<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item">
							
							</li>
							<li th:if = "${vo.startPage gt vo. pageNumToShow}" class="page-item" style="cursor:pointer;"><a class="page-link" href="javascript:goList(${vo.startPage - 1})"
							th:attr="onclick=|goList('${vo.startPage - 1}')|"><i class="fa-solid fa-angle-left"></i></a></li>
							<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" th:classappend="${num eq vo.thisPage} ? active : ''" class="page-item" style="cursor:pointer"><a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}" ><!-- ${i.index} --></a></li>
							<li th:if="${vo.endPage ne vo.totalPages}" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|" href="#"><i class="fa-solid fa-angle-right"></i></a></li>
							<li class="page-item">
							
							</li>
						</ul>
						</nav>
						</div>
						</div>
						<div class="container-fluid  d-flex flex-stack flex-wrap justify-content-start flex-sm-nowrap py-2 m" >
							<a href="apps/ecommerce/catalog/add-product.html" class="btn btn-danger d-flex ms-8 btn-sm"><i class="fa-solid fa-xmark fs-2x ps-3 me-2"></i></a>	
							<a href="apps/ecommerce/catalog/add-product.html" class="btn btn-danger d-flex ms-8 btn-sm"><i class="fa-solid fa-trash-can fs-2x ps-3 me-2"></i></a>
						
						<div class="container-fluid  d-flex flex-stack flex-wrap justify-content-end flex-sm-nowrap py-2 m" >
						<a href="apps/ecommerce/catalog/add-product.html" class="btn btn-success d-flex ms-8 btn-sm"><i class="fa-solid fa-u fs-2x ps-3 me-2"></i></a>	
						<a href="apps/ecommerce/catalog/add-product.html" class="btn btn-success d-flex ms-8 btn-sm"><i class="fa-solid fa-solid fa-file-excel fs-2x ps-3 me-2"></i></a>	
						<button type="button" id="btnForm" class="btn btn-primary d-flex ms-8 btn-sm"><i class="fa-solid fa-folder-plus fs-2x ps-3 me-2"></i></button>
						</div>
						<!--end::Add product-->
					<!--end::Table-->
				</div>
				<!--end::Card body-->
			</div>
			<!--end::Products-->
		</div>
		<!--end::Container-->
	</div>
	<!--end::Post-->
</div>
</form>
<!--end::Content-->
<div th:replace="~{xdm/Include/code/footer ::codefooter}"></div>
<script type="text/javascript">

let seq = document.querySelector("input[name=seq]");	
let form = document.querySelector("form[name=formList]");

goList = function (thisPage) {
    document.querySelector("input[name=thisPage]").value = thisPage;
    form.action = "/xdm/code/CodeXdmList";
    form.submit();
}

document.getElementById("btnSearch").onclick = function () {
    form.action = "/xdm/code/CodeXdmList";
    form.submit();
}

document.getElementById("changeRowNum").onchange = function () {
    document.getElementById("rowNumToShow").value = document.getElementById("changeRowNum").value;
    form.action = "/xdm/code/CodeXdmList";
    form.submit();
}

document.getElementById("btnReset").onclick = function () {
	document.getElementById("shOption").value=""
	document.getElementById("shValue").value=""
	form.action = "/xdm/code/CodeXdmList";
    form.submit();
}

document.getElementById("btnForm").onclick = function () {
    goForm(0);
}


goForm = function (keyValue) {
    seq.value = keyValue;
    form.action = "/xdm/code/CodeXdmForm";
    form.submit();
}
</script>