<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{xdm/Include/head ::head}"></div>
					<!--begin::Content-->
					<div class="content fs-6 d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Toolbar-->
						<div class="toolbar" id="kt_toolbar">
							<div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
								<!--begin::Info-->
								<div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
									<!--begin::Title-->
									<h1 class="text-gray-900 fw-bold my-1 fs-2">Code Group Form</h1>
									<!--end::Title-->
									<!--begin::Breadcrumb-->
									<ul class="breadcrumb fw-semibold fs-base my-1">
										<li class="breadcrumb-item text-muted">
											<a href="index.html" class="text-muted text-hover-primary">Home</a>
										</li>
										<li class="breadcrumb-item text-muted">eCommerce</li>
										<li class="breadcrumb-item text-muted">Catalog</li>
										<li class="breadcrumb-item text-gray-900">Code</li>
									</ul>
									<!--end::Breadcrumb-->
								</div>
								<!--end::Info-->
								<!--begin::Actions-->
								
								<!--end::Actions-->
							</div>
						</div>
						<!--end::Toolbar-->
						<!--begin::Post-->
						<div class="post fs-6 d-flex flex-column-fluid" id="kt_post">
							<!--begin::Container-->
							<div class="container-xxl">
								<!--begin::Form-->
								<form method="post" id="form" class="form d-flex flex-column flex-lg-row " novalidate="novalidate" >
									<input type="hidden" name="seq" th:value="${vo.seq}">
									<!--begin::Main column-->
									<div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
										
										<!--end:::Tabs-->
										<!--begin::Tab content-->
										<div class="tab-content">
											<!--begin::Tab pane-->
											<div class="tab-pane fade show active" id="kt_ecommerce_add_product_general" role="tab-panel">
												<div class="d-flex flex-column gap-7 gap-lg-10">
													<!--begin::General options-->
													<div class="card card-flush py-4">
														<!--begin::Card header-->
														<div class="card-header">
															<div class="card-title">
																<h2>기본정보</h2>
															</div>
														</div>
														<!--end::Card header-->
														<!--begin::Card body-->
														<div class="card-body pt-0">
															<!--begin::Input group-->
															<div class="mb-10 fv-row">
																<!--begin::Label-->
																<label class="required form-label ms-3">코드그룹</label>
																<!--end::Label-->
																<!--begin::Input-->
																<select class="d-flex flex-start mt-n1  form-select" style="font-weight: bold; font-size:15px; width:290px; height:41px" aria-label="Default select example">선택하세요</span>
																<option value="1" style="background-color: white; color:black; width:200px; height:41px" href="#">선택하세요</option>
																<option value="2" style="background-color: white; color:black; width:200px; height:41px" href="#">선택</option>
																<option value="3" style="background-color: white; color:black; width:200px; height:41px" href="#">선택</option>
																</select>
																<!--end::Input-->
																<!--begin::Description-->
																<!--begin::Label-->
																<div class="d-flex flex-column flex-md-row gap-5 mt-4">
														<div class="flex-row-fluid">
															<!--begin::Label-->
															<label class="required form-label ms-3">#</label>
															<!--end::Label-->
															<!--begin::Input-->
															<input type="text" name="seq" id="seq" th:value="${item?.seq}" disabled  class="form-control"  placeholder="자동생성" />
															<!--end::Input-->
														</div>
														<div class="fv-row flex-row-fluid">
															<!--begin::Label-->
															<label class="form-label ms-3">코드 (Another)</label>
															<!--end::Label-->
															<!--begin::Input-->
															<input type="text" class="form-control" placeholder="영대소문자, 숫자" required />
															<div class="invalid-feedback">
														     입력해 주세요
														    </div>
															<!--end::Input-->
														</div>
														<div class="fv-row flex-row-fluid">
															<!--begin::Label-->
															<label class="required form-label ms-3">코드 이름</label>
															<!--end::Label-->
															<!--begin::Input-->
															<input type="text" name="cgName" id="cgName" th:value="${item?.cgName}" class="form-control" placeholder="한글,영대소문자,숫자"  />
															<div class="invalid-feedback">
														     입력해 주세요
														    </div>															<!--end::Input-->
														</div>
														<div class="fv-row flex-row-fluid">
															<!--begin::Label-->
															<label class="form-label ms-3">코드 이름 (영문)</label>
															<!--end::Label-->
															<!--begin::Input-->
															<input type="text" name="cgNameEng" id="cgNameEng" th:value="${item?.cgNameEng}" class="form-control" placeholder="영대소문자,숫자"  />
															<!--end::Input-->
														</div>
													</div>
																<!--end::Input-->
																<!--begin::Description-->
																
																<!--end::Description-->
															</div>
															<div class="fv-row col-sm-6 mt-n5">
																	<!--begin::Label-->
																	
																	<!--end::Label-->
																	<!--begin::Input-->
														<div class="d-flex flex-wrap flex-sm-nowrap gap-3">
															<div class="fv-row flex-row-fluid">
															<!--begin::Label-->
															<label class="required form-label ms-3">사용 여부</label>
															<!--end::Label-->
															<!--begin::Input-->
															<select class="  form-select" style="font-weight: bold; font-size:15px; width:290px; height:41px" aria-label="Default select example">선택하세요</span>
																<option value="1" style="background-color: white; color:black; width:200px; height:41px" href="#">선택하세요</option>
																<option value="2" style="background-color: white; color:black; width:200px; height:41px" href="#">선택</option>
																<option value="3" style="background-color: white; color:black; width:200px; height:41px" href="#">선택</option>
																</select>
															<!--end::Input-->
															</div>
															<div class="fv-row flex-row-fluid ">
															<!--begin::Label-->
															<label class="required form-label  ms-3">순서</label>
															<!--end::Label-->
															<!--begin::Input-->
															<input type="text" name="cgOrder" id="cgOrder" th:value="${item?.cgOrder}" style="width:290px; height:41px" class="form-control" placeholder=""  />
															<!--end::Input-->
															</div>
														</div>
																	
																	<!--end::Input-->
																	<!--begin::Description-->
																	
																	<!--end::Description-->
																</div>
															
															<!--end::Input group-->
															<!--begin::Input group-->
															<div>
																<!--begin::Label-->
																<label class="form-label mt-5 ms-3">설명</label>
																<!--end::Label-->
																<!--begin::Editor-->
																<div class="min-h-200px mb-2 border-radius:30px">
																	<textarea name="" id="" style=" width: 600px; height:150px ; border-width:2px" class="border-radius:30px border-secondary">
																	
																	</textarea></div>
																	<div class="fv-row">
																
																<!--begin::Input-->
																<div class=" col-12  d-flex flex-stack flex-wrap  flex-sm-nowrap py-2 m" >
																	<button type="button" id="btnList" class="btn btn fw-bold btn-secondary btn-sm"><i class="fa-solid fa-list fs-2x ps-3 me-2"></i></button>
																	<div class="container-fluid  d-flex flex-stack flex-wrap justify-content-end flex-sm-nowrap py-2 gap-3" >
																	<button type="button" id="btnUelete" class="btn btn fw-bold btn-danger btn-sm"><i class="fa-solid fa-trash-can fs-2x ps-3 me-2"></i></button>
																	<button type="button" id="btnSubmit" class="btn btn fw-bold btn-primary btn-sm"><i class="fa-solid fa-database fs-2x ps-3 me-2"></i></button>
																</div>
																</div>
																
																<!--end::Input-->
																<!--begin::Description-->
																
																<!--end::Description-->
															</div>
																<!--end::Editor-->
																<!--begin::Description-->
															
																<!--end::Description-->
															</div>
															
															<!--end::Input group-->
														</div>
														
														<!--end::Card header-->
													</div>
													
													<!--end::General options-->
													<!--begin::Media-->
													
													
												</div>
											</div>
											<!--end::Tab pane-->
											<!--begin::Tab pane-->
											
										<!--end::Tab content-->
										
									</div>
									<!--end::Main column-->
								</form>
								<!--end::Form-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Post-->
					</div>
					
<div class="modal fade show" tabindex="-1" id="myModal" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"></h3>

                <!--begin::Close-->
                
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>

            <div class="modal-footer">
                <button type="button" id="closebtn" class="btn btn-light" >Close</button>
<!--                 <button type="button" class="btn btn-prsimary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>	

<div class="modal fade" id="modalConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalConfirmTitle">title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" id="modalConfirmBody">
					body
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-secondary btn-sm btn_custom" data-bs-dismiss="modal"><i class="fa-solid fa-angle-left fa-lg"></i></button>
					<button type="button" class="btn btn-danger btn-sm btn_custom" name="" id="btnModalDelete"><i class="fa-solid fa-x fa-lg"></i></button>
					<button type="button" class="btn btn-danger btn-sm btn_custom" name="" id="btnModalUelete"><i class="far fa-trash-alt fa-lg"></i></button>
				</div>
			</div>
		</div>
	</div>				
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_1"> -->
<!--     Launch demo modal -->
<!-- </button> -->

		
<!-- <div class="modal fade" tabindex="-1" id="myModal" style="display: block;"> -->
<!--     <div class="modal-dialog"> -->
<!--         <div class="modal-content"> -->
<!--             <div class="modal-header"> -->
<!--                 <h3 class="modal-title">Modal title</h3> -->

<!--                 begin::Close -->
<!--                 <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close"> -->
<!--                     <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i> -->
<!--                 </div> -->
<!--                 end::Close -->
<!--             </div> -->

<!--             <div class="modal-body"> -->
<!--                 <p>Modal body text goes here.</p> -->
<!--             </div> -->

<!--             <div class="modal-footer"> -->
<!--                 <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button> -->
<!--                 <button type="button" class="btn btn-primary">Save changes</button> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->
					<!--end::Content-->
		<script src="/xdm/template/craft_html_v1.1.6/assets/js/custom/jquery-3.7.1.min.js"></script>
		<script src="/xdm/template/craft_html_v1.1.6/assets/js/custom/utilities/jquery.js"></script>
		<script src="/xdm/template/craft_html_v1.1.6/assets/js/custom/jquery.datetimepicker.full.min.js"></script>
		
		<script type="text/javascript">

		//let name = document.getElementById("cgName");
		
		let seq = document.querySelector("input[name=seq]");
		var modal = document.getElementById("myModal");
		var close = document.getElementById("closebtn");
		
// 		(document.getElementById("btnForm"))
// 		if(seq.value == "0" || seq.value == "") {
// 			document.querySelector("#btnUelete").style.display = 'none';
// 		}else{
			
// 			document.querySelector("#btnSubmit").style.display = 'none';	
// 		}
		
		if(document.getElementById("btnUelete")){
			document.getElementById("btnUelete").onclick = function () {
				document.querySelector("#modalConfirmTitle").textContent = "확 인";
				document.querySelector("#modalConfirmBody").textContent = "해당 데이터를 삭제하시겠습니까 ?";
				document.querySelector("#btnModalUelete").style.display = '';
				document.querySelector("#btnModalDelete").style.display = '';
				$("#modalConfirm").modal("show");      	
			}
		}
  			
		document.getElementById("btnSubmit").onclick = function() {
			
 			if(seq.value == "0" || seq.value == "") {
 				
 				form.action ="/xdm/codegroup/CodeGroupXdmInst";

			} else {
 			
 				form.action ="/xdm/codegroup/CodeGroupXdmUpdt";
			}
			
					
			if(document.getElementById("cgNameEng").value.trim()== null || document.getElementById("cgNameEng").value.trim() ==""){
				modal.style.display = "block";
				
				document.getElementById("cgNameEng").focus();
				return false;
			}
			
			if(document.getElementById("count").value.trim()== null || document.getElementById("count").value.trim()==""){
				modal.style.display = "block";
				
				document.getElementById("count").focus();
				return false;
			}
			
			form.submit();
			}
		
		document.getElementById("btnList").onclick = function () {
			form.action = "/xdm/codegroup/CodeGroupXdmList";
			form.submit();
		}
		
		document.getElementById("btnModalUelete").onclick = function () {
			form.action = "/xdm/codegroup/CodeGroupXdmUele";
			form.submit();
		}
		document.getElementById("btnModalDelete").onclick = function () {
			form.action = "/xdm/codegroup/CodeGroupXdmDele";
			form.submit();
		}
		
		document.getElementById("closebtn").onclick = function(){
			modal.style.display = "none";
			}
			</script>
			<div th:replace="~{xdm/Include/footer ::footer}"></div>
					
					